<% if resource.errors.any? %>
  <div class="devise-form__error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="devise-form__error_explanation-error"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
