
<div id="media_manages_input_time_modal" class="modal">
  <div class="modal-content">
    <h5>
      視聴時間入力
    </h5>
    <%= render "input_time", {prefix: "begin", value: nil} %>
    <div>〜</div>
    <%= render "input_time", {prefix: "end", value: nil} %>
    <div>（時：分：秒）</div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves btn yellow darken-3">キャンセル</a>
    <button type="button" id="timespan_submit_id" class="waves-effect waves-lite btn">登録</button>

    <%= form_with id: 'timespan_form_id', url: media_time_span_index_path do |f| %>
      <input type="hidden" name="media_manage_id" value="<%= media_namage.id %>">
      <input type="hidden" name="begin_sec" value="123">
      <input type="hidden" name="end_sec" value="456">
    <% end %>
  </div>
</div>
