
<div class="time-input-parts">
  <input type="tel" name="<%= prefix %>-time-input-hour" maxlength="2" class="time-input-text browser-default">
</div>
<div class="input-separate">
  ：
</div>
<div class="time-input-parts">
  <input type="tel" name="<%= prefix %>-time-input-min" maxlength="2" class="time-input-text browser-default">
</div>
<div class="input-separate">
  ：
</div>
<div class="time-input-parts">
  <input type="tel" name="<%= prefix %>-time-input-sec" maxlength="2" class="time-input-text browser-default">
</div>
