
<% thumbnail_tag(media_manage, '160x90') %>
<% link_to media_manage.title, media_manage_path(media_manage) %>

<div class="card horizontal media-manage-card">
  <div class="card-image">
    <%= thumbnail_tag(media_manage, '160x90') %>
    <span class="card-title media-length"><%= media_manage.media_sec_str %></span>
  </div>
  <div class="card-stacked">
    <div class="card-action">
      <% params = {} %>

      <% if playlist %>
        <% params[:playlist] = playlist %>
      <% end %>

      <%= link_to media_manage.title, media_manage_path(media_manage, **params), class: 'black-text' %>
    </div>
    <div class="card-content grey-text text-darken-1">
      <p>
        <%= media_manage.media_status %>
        <% if media_manage.media_time_image.any? %>
          <i class="material-icons">image</i>
        <% end %>
      </p>
    </div>
  </div>
</div>
