
<% thumbnail_tag(media_manage, '160x90') %>
<% link_to media_manage.title, media_manage_path(media_manage) %>

<div class="media-manage__card">
  <div class="media-manage__card-image">
    <%= thumbnail_tag(media_manage, '160x90') %>
    <span class="media-manage__card-image-media-length"><%= media_manage.media_sec_str %></span>
  </div>
  <div class="media-manage__card-info">
    <div class="media-manage__card-info-title">
      <% params = {} %>

      <% if playlist %>
        <% params[:playlist] = playlist %>
      <% end %>

      <%= link_to media_manage.title, media_manage_path(media_manage, **params), class: 'black-text' %>
    </div>
    <div class="media-manage__card-info-status">
      <p>
        <%= media_manage.media_status %>
        <% if media_manage.media_time_image.any? %>
          <i class="fa-solid fa-image"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>
