$mobile-brakepoint: 600px;
$container-top-size: 10px;

$edge-gray: #454545;
$main-background-color: #232323;
$light-background-color: #333;
$verylight-background-color: #444;
$verylight-hover-background-color: #555;
$main-font-color: #bbb;
