@use "const";

.media-manage-show__action-buttons {
  display: flex;
  flex-wrap: wrap;
}
.media-manage-show__action-button {
  display: block;
  padding: 3px 4px 0;
  margin-top: 5px;
  margin-right: 6px;
  height: 50px;
  width: 96px;
  font-size: 18px;
  border: 1px solid const.$edge-gray;
  background-color: const.$light-background-color;
  border-radius: 2px;
  color: const.$main-font-color;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;

  &-text {
    font-size: 10px;
    margin-top: 10px;
  }

  .material-icons + .media-manage-show__action-button-text {
    margin-top: 2px;
  }
}

.media-manage-show__media-info {
  display: flex;
  margin: 10px 0;

  @media (max-width: const.$mobile-brakepoint) {
    flex-wrap: wrap;
  }
}
.media-manage-show__thumbnail {
  display: block;
  position: relative;
  width: 240px;
  margin-right: 10px;

  & > .media-length {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    bottom: 5px;
    padding: 0;
    margin-right: 2px;
    margin-bottom: 2px;
  }
}
.media-manage-show__media-detail {
  @media (max-width: const.$mobile-brakepoint) {
    margin-top: 10px;
  }

  .show-media-manag-title {
    margin-bottom: 8px;
  }
}

.waching-data-section {
  margin-top: 16px;

  .time-span-collection {
    list-style: none;
  }
  .collection-item {
    border: 1px solid const.$edge-gray;
    border-radius: 2px;
    background-color: const.$light-background-color;
    padding: 6px;

    .time-span-item {
      margin-top: 2px;
    }

    .time-span-icons {
      margin: 0 5px;
      padding: 0 8px;
      border: 1px solid const.$edge-gray;
      border-radius: 4px;

      a {
        color: const.$main-font-color;
      }
    }
  }
}
.media_time_image-collection {
  margin-top: 16px;
  list-style: none;
}

.media-manage__card {
  display: flex;
  background-color: const.$light-background-color;
  border-radius: 2px;
  margin-top: 10px;

  &-image {
    position: relative;
    width: 160px;
    &-media-length {
      position: absolute;
      padding: 2px;
      right: 1px;
      bottom: 3px;
      font-size: 12px;
      background-color: const.$main-background-color;
      border-radius: 4px;
    }
  }
  &-info {
    padding: 8px;
    &-title {
      display: -webkit-box;
      margin-bottom: 10px;
      max-height: 3em;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
    &-status {
      font-size: 14px;
      color: #888;
    }
  }
}

.show-media-manag-title {
  font-size: 1.5em;
}

#media_manages_input_time_modal {
  & > .modal-content {
    & > input {
      display: inline-block;
      //width: 95px;
      width: 120px;
    }
    & > p {
      display: inline-block;
    }
  }
}
.keyboard-input-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}
.keyboard-input-section {
  visibility: visible;
  height: auto;
  &.hide {
    visibility: hidden;
    height: 1px;
  }
}

.time-input-parts {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.input-separate {
  display: inline-block;
  margin-left: 2px;
  margin-right: 0;
  padding: 0;
  width: 12px;
  height: 2em;
}

.time-input-text, .time-input-select {
  display: inline-block;
  width: 50px;
  height: 30px;
}

.time-span {
  &-block {
    display: flex;
    font-size: 18px;
    font-size: 18px;
  }

  &-item {
    display: block;
    font-family: 'Noto Sans', sans-serif;

    @media (max-width: const.$mobile-brakepoint) {
      font-size: 25px;
    }
  }

  &-timestamp {
    padding-right: 1px;
    padding-left: 1px;
  }

  &-jumpto {
    margin-left: 10px;
  }
}

#media_time_image_form_id {
  > input {
    display: none;
  }
}

.media_manage-edit-form-btns {
  margin-top: 10px;
}

.media_manage-edit-thumbnail-field {
  display: none;
}

.media_manage_list .pagination {
  display: none;
}

#loading-icon {
  text-align: center;
}

.media-manage-button-spacer {
  width: 100%;
  height: 10px;
}

.media_manage-alert-area {
  margin-top: 15px;
}
.duplicate-media-url {
  font-size: 18px;
  color: red;
}

.media-manage-edit__content {
  margin-bottom: 10px;

  .media_manage-edit-details__content {
    margin-top: 5px;
    padding-left: 20px;
  }
}
