@use "const";

.playlist-form {
  margin-bottom: 6px;
  & > .playlist-submit {
    display: none;
  }

  .playlist-checkbox {
    color: const.$main-font-color;
  }
}

.playlist-title {
  &:not(.active) {
    display: none;
  }

  & > span {
    display: inline-block;
    width: 80%;
    font-size: 2em;
    margin-top: 10px;
  }

  & > a {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    color: gray;
  }

  .playlist-actions {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.edit_playlist {
  &:not(.active) {
    display: none;
  }
  .playlist_name {
    width: 70%;
  }
  .playlist-edit-buttons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .playlist-edit-button {
    margin-right: 5px;
  }
}

#playlist-show-dropdown {
  width: 220px;
}

.dropdown-trigger[data-target="playlist-show-dropdown"] {
  color: gray;
}
