<p>こんにちは <%= @resource.email %> さん!</p>

<p>パスワードの変更を要求されました。以下のパスワード変更リンクから変更することができます。</p>

<p><%= link_to 'パスワード変更リンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード変更を要求していない場合は、このメールを無視してください</p>
<p>上記のリンクにアクセスし新しいパスワードを作成するまで、パスワードは変更されません</p>

Shiori
